#main_lnb {
    width: 200px;
}

li {
    background: #293950;
    -webkit-text-fill-color: white;
}

li:first-child {
    border-radius: 5px 5px 0 0;
}

li:last-child {
    border-radius: 0 0 5px 5px;
}

li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}


li a {
    padding: 10px;
    display: block;
    color: white;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    position: relative;
}

li a i {
    margin-right: 10px;
}

li a i[class="bi bi-chevron-right"] {
    position: absolute;
    right: 0;
}

li div {
    transition: 0.5s;
    height: 0;
    overflow: hidden;
    -webkit-text-fill-color: white;
}

li div:target {
    text-align: justify;
    hyphens: auto;
    padding: 10px;
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
}