div.menu {
    border: 1px solid black;
    display: flex;
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    position: relative;
}
div.ham {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    flex: 1;
    background-color: rgba(19, 133, 226, 0.836);
    color: white;
}

i.xi-bars {
    font-size: 2.5em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ham a {
    display: block;
    line-height: 2;
    -webkit-text-fill-color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.withoutham {
    flex: 6; 
}
div.log-search-icon{
    display: flex;
    height: 70px;
    justify-content: left;
    align-items: center;
    padding-left: 5%;
}
input[type="search"]{
    width: 300px;
    height: 40px;
    border: 3px solid rgba(19, 133, 226, 0.836);
    
}
input:focus{
    outline:none;
}
div.logo{
    margin-top: 10px;
}
.search button{
    width: 40px;
    height: 40px;
}

div.search{
    margin-left: 10px;
}
div.icon{
    display: block;
    width:auto;
    height:auto;
    margin-left: 30px;
    text-align: center;
    
}
.icon i{
    font-size: 3em;
}

.icon a{
    display: block;
    font-size: 0.1em;
}

nav{
    display: inline;
    position: absolute;
    top: 65%;
    left: 15%;
}
ul {
    clear: both;
}
.clearfix:after{
    clear: both;
    content: "";
    display: block;
}

ul>li{
    float: left;
    margin: 0 14px;
}

ul>li:first-child{
    position: relative;
    left: 20px;
    content: url("../imgs/roket.png");
    
    width: fit-content;
    height: fit-content;
    font-size: 5px;
    
}
ul>li>a{
}