ul>li>a {
    border: 1px solid;
    display: block;
    padding: 15px 40px;
    position: relative;
}

ul {
    border: 1px solid;
    clear: both;
    margin: auto;
    max-width: 568px;
    min-width: 568px;
}

ul::after {
    content: "";
    display: block;
    clear: both;
}

ul>li {
    float: left;
    position: relative;
    text-align: center;
    background-color: coral;
}

ul>li>a::after {
    content: "";
    background-color: brown;
    display: block;
    height: 10px;
    width: 0%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: 0.4s;
}

ul>li>a:hover::after {
    width: 100%;
    left: 0%;
}

ul>li:hover>ol {
    display: block;
}

ol>li>a {
    border: 1px solid;
    display: block;
    padding: 10px 0;
}

ol {
    position: absolute;
}

ol>li {
    background-color: bisque;
}

ul>li>ol {
    display: none;
    width: 100%;
}

ul>li>ol>li:hover {
    background-color: lightpink;
    transition: 1s;
}
ul>li>ol>li>a::before{
content: "";
position: absolute;
display: block;
clear: both;
height: 100%;
background-color: brown;
width: 0px;
top: 0%;
left: 0%;

}

ul>li>ol>li>a:hover::before{
    width: 10px;
    transition: 0.3s;
}

ul>li>ol>li {
    border: 1px solid;
    position: relative;

}