* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link {
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: gray;
}

input,
img {
    vertical-align: baseline;
}

address {
    font-style: normal;
}

textarea {
    resize: none;
}

img,
fieldset {
    border: 0;
}

em,
i,
address {
    font-style: normal;
}

label {
    cursor: pointer;
}


/* a:visited {
    color: green;
} */