/* 서브메뉴 오엘이 앱솔처리하면
메인메뉴 엘아이를 렐러하거나
메인메뉴 엘아이를 감싸는 유엘을 렐러한다
유엘과 엘아이의 위드는 같게 설계
서브메뉴의 위치는 레프트백처하면
위드만큼 옵셋이 생김 */
ul {
    width: 200px;
    margin: 30px;
    text-indent: 10px;
}

ul a {
    display: block;
    color: white !important;
    padding: 10px;
}

ol {
    width: 100%;
    height: 0;
    margin-left: 1px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

ul>li:hover>ol {
    height: 100%;
    opacity: 1;
    left: 100%;
    top: 0%;
    transition: height 0.5s, opacity 1s;
    visibility: visible;
}

ul>li:hover>ol>li {
    height: 100%;
    opacity: 1;

}

ul li {
    background-color: darkblue;
    position: relative;
}

ul li:hover {
    background-color: black;
    color: darkblue !important;

}

li:hover>a {
    color: darkblue !important;
}

ul a::after {
    content: '▶';
    display: block;
    position: absolute;
    /* width: 0px;
    height: 0px;
    border: 8px solid transparent;
    right: 2px;
    top: 9px;
    border-left-color: white; */
    bottom: 30%;
    left: 85%;
}



ul>li:nth-child(n):not(:last-child) {
    margin-bottom: 1px;
}

ol>li {
    margin-bottom: 1px;
    height: 0;
    opacity: 0;
}

dl>dt {
    border-bottom: 1px solid white;
    color: white !important;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

dl {
    visibility: hidden;
    opacity: 0;
    height: 0;
    background-color: darkblue;
    position: absolute;
    left: 100%;
    margin-left: 1px;
    width: 100%;

}

ol>li:hover>dl {
    opacity: 1;
    height: 200%;
    left: 100%;
    width: 100%;
    top: 0;
    transition: 1s;
    visibility: visible;


}

dl dt:hover {
    background-color: black;
    color: darkblue !important;
}

dl>dt::after {
    position: absolute;
    display: block;
    content: "";
    border: 5px solid transparent;
    border-left-color: white;
    width: 0;
    height: 0;
    left: 95%;
    top: 40%;
}

